<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Bạn không có quyền thực hiện điều này</h2>
        <p>Vui lòng trở về trang chủ</p>
        <hr />
        <p>
            <a asp-controller="Books" asp-action="Index" class="btn btn-outline-success" >Trang chủ</a>
        </p>
    </div>
</div>