<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Bạn đã đăng ký thành công</h2>
        <p>Bạn có thể đăng nhập tài khoản để sử dụng dịch vụ.</p>
        <hr />
        <p>Thank you!</p>
        <a class="btn btn-success" asp-action="Login">Đăng nhập</a>
    </div>
</div>